.breadcrumbs {
    width: 960px;
    margin: 20px auto;
    padding: 0 10px;

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 40px;
        position: relative;
        display: flex;
        align-items: center;


        &:last-child {
            margin-right: 0;
        }
        &::after {
            content: "";
            width: 2px;
            height: 8px;
            background-color: #c1c6ce;
            transform: rotate(-45deg);
            position: absolute;
            top: 1px;
            right: -16px;
        } 
        &::before {
            content: "";
            width: 2px;
            height: 8px;
            background-color: #c1c6ce;
            transform: rotate(45deg);
            position: absolute;
            top: 6px;
            right: -16px;
        }

        &:last-child::after {
            content: "";
            display: none;
        }
        &:last-child::before {
            content: "";
            display: none;
        }

    }

    &__link {
        font-family: "PT Sans";
        font-weight: 700;
        font-size: 13px;
        line-height: 0;
        color: #000;
        text-transform: uppercase;
    }

    &__icon {
        width: 15px;
        height: 15px;
        fill: #c1c6ce;
       
    }

                                                          
}