.catalog-content {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 60px;

    &__title {
        margin: 0 10px 20px 10px;
        padding: 25px 30px;
        font-family: "Cuprum";
        font-weight: 500;
        font-size: 30px;
        color: #32425c;
        text-transform: uppercase;
        background-color: #f2f6f8;
    }

    &__wrapper {
        display: flex;
    }

    &__wrap {
        display: flex;
        flex-flow: column;
    }

    &__product-list {
        margin-bottom: 32px;
        display: flex;
        flex-flow: wrap;
    }

    &__product-item {
        margin: 0 10px 20px 10px;
    }
}