.modal-window {
    width: 620px;
    height: 430px;
    padding-left: 80px;
    padding-right: 80px;
    border-top: 7px solid #ff5357;
    background-color: #fff;
    box-shadow: 0 20px  40px rgba(0,0,0, .75);
    position: absolute;
    top: 2500px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

  

   
    &__wrap_gray {
        margin-left: -80px;
        margin-right: -80px;
        padding: 37px 0;
        background-color: #f4f4f4;
        text-align: center;
    }
    &__link-exit {
    position: relative;

    &:hover::before,
    &:hover::after {
        background-color: #ca2c37;
    }

        &::after {
            content: "";
            width: 4px;
            height: 30px;
            background-color: #ff5357;
            border-radius: 2px;
            transform: rotate(45deg);
            position: absolute;
            top: 10px;
            left: 510px;
        }

        &::before {
            content: "";
            width: 4px;
            height: 30px;
            background-color: #ff5357;
            border-radius: 2px;
            transform: rotate(315deg);
            position: absolute;
            top: 10px;
            left: 510px;
            z-index: 10;
        }
    }
}

.form-message {
    display: flex;
    flex-flow: column;

    &__wrap { 
        margin-top: 50px;
        margin-bottom: 15px; 
        display: flex;
    }

    &__box {
        margin-right: 20px;
        display: flex;
        flex-flow: column;
        &:last-child {
            margin-right: 0;
        }
    }

    &__label {
        font-family: "Cuprum";
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }

    &__input {
        width: 220px;
        height: 38px;
        padding-left: 13px;
        border: 2px solid #dee3e4;
        border-radius: 2px;
        font-family: "PT Sans";
        font-weight: 500;
        font-size: 13px;
    }

    &__textarea {
        margin-bottom: 37px;
        width: 460px;
        height: 114px;
        padding-left: 13px;
        padding-top: 10px;
        border: 2px solid #dee3e4;
        border-radius: 2px;
        font-family: "PT Sans";
        font-weight: 500;
        font-size: 13px;
    }

    &__btn {
        width: 460px;
    }

    

}
