.sorting {
    width: 700px;
    margin: 0 10px 20px 10px;
    display: flex;
    padding: 10px 17px 9px 17px;
    background-color: #f7f3ec;
    border-radius: 2px;

    &__title {
    margin-right: 140px;  
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;   
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    } 

    &__item {
        line-height: 0;
    }

    &__btn {
        padding: 0;
        font-family: "PT Sans";
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: rgba(0,0,0, .3);
        background-color: transparent;
        text-transform: uppercase;
        border-bottom: 1px dotted #ee3643;
        cursor: pointer;

        &:hover {
            color: #000;
            border-bottom: 1px solid #ee3643;
        }

        &_active {
            color: #ee3643;
            border-bottom: none;

            &:hover {
                color: #ee3643;
                border-bottom: none;
            }
        }

        &-arrows {
            padding: 0;
            border-bottom: 11px solid #c5c5c5;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            cursor: pointer;
            &:hover {
                border-bottom-color: #000;
            }

            &_active {
                border-bottom-color: #ee3643;
                &:hover {
                    border-bottom-color: #ee3643;
                }
            }

            &-down {
                transform: rotate(180deg);
            }
        }


    }
}