/* Fonts:
   https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
   ========================================================================== */

@import "mixins";

/*
  Ð¡hoose one of the ways:
    1. handle menthod,
    2. use mixin;
*/

// 1. Example handle menthod (without mixin):

/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/

// 2. Example with mixin (example):
// NOTE: do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans';
// NOTE-2: files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin;

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);
// @font-face {
//   font-family: "Cuprum";
//   src: url('/assets/fonts/cuprum.woff'),
//        url('/assets/fonts/cuprum.woff2'),
//        url('/assets/fonts/cuprumbold.woff'),
//        url('/assets/fonts/cuprumbold.woff2'),
//        url('/assets/fonts/cuprumbolditalic.woff'),
//        url('/assets/fonts/cuprumbolditalic.woff2'),
//        url('/assets/fonts/cuprumitalic.woff'),
//        url('/assets/fonts/cuprumitalic.woff2'),
  
  
//   ;
// }

// @font-face {
//   font-family: "PT Sans";
//   src: url('/assts/fonts/ptsans.woff'),
//   url('/assts/fonts/ptsans.woff2'),
//   url('/assts/fonts/ptsansbold.woff'),
//   url('/assts/fonts/ptsansbold.woff2');
// }